/* DESKTOP FIRST */

.container{
    max-width: 1140px;
    width: 100%;
}

/* @media (max-width: 768px) {

    .container{
        width: 768px;
    }
} */

@media (max-width: 480px) {

    .container .col{
        width: 100%;
    }

    .container{
        width: 480px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .why-us{
        background-color: black;
    }
    
    .col{
        margin-bottom: 30px;
    }
}